.intro-row {
  border-radius: 30px;
}

.intro-col-1 {
  margin-top: 40px;
  padding: 40px;
}

.intro-hot-recipes {
  margin: auto auto 50px 5px;
}

.intro-min {
  margin: 40px 0;
  color: red;
  padding-right: 60px;
}

.intro-name-btn {
  line-height: 1;
  margin-top: 30px;
}

.intro-name {
  padding-right: 10px;
  width: 24%;
}

.index-Image {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.badge-img {
  position: absolute;

  height: 100px;
  width: 130px;
  margin: 6% 40.5%;
}

/* Categories section */

.categories {
  margin-top: 90px;
}
.categories-col-1 {
  margin-bottom: 50px;
}

.allcategories-btn {
  margin-left: 70.3%;
}
.categories-img {
  margin: 20px;
}

.Breakfast {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.186)
  );
  border-radius: 50px;
  text-align: center;
}

.Vegan {
  border-radius: 50px;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(35, 201, 35, 0.307)
  );
}

.Meat {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(255, 0, 0, 0.214)
  );
  border-radius: 50px;
  text-align: center;
}

.Dessert {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(234, 172, 81, 0.366)
  );
  border-radius: 50px;
  text-align: center;
}

.Lunch {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(143, 232, 143, 0.441)
  );
  border-radius: 50px;
  text-align: center;
}

.Chocolate {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(86, 11, 11, 0.66)
  );
  border-radius: 50px;
  text-align: center;
}

.image-recipes {
  margin-bottom: 130px;
  text-align: left;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(220, 214, 255, 0.768)
  );
  /* padding:; */
}

/* ownkitchen */

.ownkitchen {
  text-align: left;
  padding-top: 180px;
}

.ownkitchen-btn {
  margin-top: 40px;
}

/* instagram-icons */

.instagram-icons {
  margin: 0 10px;
}

.all-insta-text-post {
  margin-top: 150px;
}

.insta-section-bg {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(187, 223, 240, 0.353)
  );
}

.delicious-recipe-time {
  margin: 0 30px 50px 0;
  color: darkslategrey;
}

.delicious-recipe {
  margin: 150px auto auto auto;
}

.bottom-section {
  background-color: #e7f9fd;
}

/* footer section  */
.footer-color {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(54, 96, 139, 0.444)
  );
}

@media only screen and (min-width: 880px) {
  .image-details-section {
    padding: 0 200px;
  }
  .checkoutinsta-pera {
    padding: 20px 200px;
  }

  .delicious-recipy-title-pera {
    padding-right: 80px;
  }

  .delicious-recipe-pera {
    margin-top: 20px;
  }
  .deliciousness-intro {
    padding: 20px 150px;
  }
  .footer-follow {
    padding: 30px 30px 0 0;
  }

  .insta-post-head-img {
    padding: 10px;
  }
  .insta-post-head-text {
    font-size: 10px;
    line-height: 0;
    padding: 5px 0 0 30px;
  }

  .insta-post-head-3btn {
    padding-top: 15px;
  }
  .insta-body-img {
    padding: 0;
  }
  .inst-footer-img {
    padding: 8px;
  }

  .inst-footer-text-like {
    padding: 14px 4px 0 4px;
    font-size: 12px;
  }
  .insta-footer-text-down {
    padding: auto 0;
    line-height: 1;
    font-size: 12px;
  }
  .inst-footer-text-sep {
    margin-bottom: 0;
    font-size: 10px;
  }
  .categories-btn {
    margin-left: 70.3%;
  }

  .categories-bt {
    padding-left: 396px;
  }
  .navbar-items {
    padding: 0 335px;
  }
  .footer-follow {
    padding-left: 450px;
  }
}

@media only screen and (max-width: 880px) {
  .ownkitchen {
    padding-top: 0;
  }

  .delicious-recipe-pera {
    padding: 5px 0 70px 0;
    text-align: center;
  }
  .delicious-recipe {
    text-align: center;
  }

  .delicious-recipe-time {
    padding-left: 40px;
  }

  .image-details {
    text-align: center;
  }
  .categories {
    text-align: center;
  }

  .categories-btn {
    text-align: center;
  }

  .view-recipes-btn {
    text-align: center;
    padding-top: 30px;
  }

  .deliciousness-intro {
    padding-top: 20px;
  }

  .footer {
    text-align: center;
  }

  .footer-follow {
    padding: 40px 0;
  }
  .ads-img {
    padding-bottom: 50px;
  }

  .first-img {
    padding-left: 30px;
    text-align: center;
  }
  .intro-row {
    background-image: linear-gradient(
      to bottom,
      rgba(122, 152, 212, 0.097),
      rgba(0, 0, 0, 0)
    );
  }

  .last-btn {
    padding: 0;
  }
}

@media (min-width: 700px) and (max-width: 879px) {
  .delicious-recipe-time-md {
    margin-left: 120px;
  }
}

@media screen and (max-width: 600px) {
  .navbar-social-media {
    width: 0;
    display: none;
  }
  .deliciousness-btn {
    padding: 10px 55px 0 0;
  }
}
